ul.horiz-flex-list {
  display: flex; 
  justify-content: space-between; 
  list-style: none;
}
.horiz-flex-list li {
  border: 2px solid linen;
  border-radius: 8px;
  padding: 0 4px;
}
.fieldsets fieldset {
  border: 1px solid black !important;
  border-radius: 16px;
  min-width: 30%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.fieldsets fieldset span {
  min-width: 45%;
}
.alpha > li {
  list-style-type: counter();
}
.ga-box {
  border: 2px solid white;
  border-radius: 4px;
  padding: 12px;
}

.how-it-could-work {
  max-height: 90vh;
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr 100px 150px 1fr 1fr;
  justify-content: start;
  align-items: flex-start;
  padding-bottom: 1rem;
}
